.select_container {
  position: relative;
  display: inline-block;
  margin-bottom: 32px;
}
.select_field {
  background-color: #eeeee1;
  padding: 12px 24px;
  width: 320px;
  font-size: 20px;
  color: #3e4247;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.4s;
  appearance: none;
  cursor: pointer;
}

.select_arrow_icon {
  position: absolute;
  right: 10px;
  top: 50%;
  pointer-events: none;
  transform: translate(0, -50%);
}

.select_field_dark {
  background-color: #3e4247;
  color: #eeeee1;
}

@media (max-width: 800px) {
  .select_field {
    font-size: 16px;
    padding: 8px 18px;
    width: 100%;
    margin-bottom: 26px;
  }
}
