.select {
  position: relative;
  display: inline-block;
  margin-bottom: $margin-l;
  width: 320px;
  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }

  &__field {
    padding: $padding-s $padding-xl;
    width: 320px;
    font-size: $font-size-l;
    border: none;
    border-radius: $border-radius-s;
    outline: none;
    transition: background-color $transition-duration-slow;
    appearance: none;
    cursor: pointer;
    @media (max-width: $breakpoint-xl) {
      $font-size-m: $font-size-m;
      width: 100%;
    }
  }

  &__arrow-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    pointer-events: none;
    transform: translate(0, -50%);
  }
}
