.user_experience_container {
  background-color: #eeeee1;
  padding: 20px;
  border-radius: 5px;
}

.user_experience_container_dark {
  background-color: #3e4247;
}

.lvl_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-left: auto;
}

.lvl_container h1 {
  font-size: 72px;
  font-weight: 500;
}

.lvl_container p {
  text-align: center;
  font-size: 20px;
  margin: 0 0 16px 16px;
}

.progres_bar_background {
  display: flex;
  width: 350px;
}
.progres_bar_fill {
  height: 20px;
  width: 90%;
  background-color: #d3d3d3;
  border-radius: 5px;
}

.user_experience_container_dark .progres_bar_fill {
  background-color: #747474;
}
.progres_bar_background p {
  margin-left: 10px;
}

.tasks_on_lvl {
  margin-top: 10px;
  text-align: left;
  padding-left: 16px;
}

@media (max-width: 1200px) {
  .user_experience_container {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .progres_bar_background {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .progres_bar_background {
    width: 200px;
  }
}
