.input_container {
  height: 80px;
  position: relative;
}
.input {
  background-color: #eeeee1;
  padding: 12px 24px;
  width: 320px;
  font-size: 20px;
  color: #22252a;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.4s;
}

.input_dark {
  background-color: #3e4247;
  color: #eeeee1;
}

.error_input_message {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #de4747;
  font-size: 12px;
}

.input_container .error_active {
  margin: 0;
}

@media (max-width: 800px) {
  .input_form {
    font-size: 16px;
    padding: 8px 18px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .input {
    width: 280px;
  }
}
