.input {
  height: 80px;
  position: relative;
  .input__field {
    padding: $padding-s $padding-xl;
    width: 320px;
    font-size: $font-size-l;
    border: none;
    border-radius: $border-radius-s;
    outline: none;
    transition: background-color $transition-duration-slow;
    @media (max-width: $breakpoint-xs) {
      width: 100%;
    }
  }
  @media (max-width: $breakpoint-xs) {
    width: 100%;
  }
}
