.theme-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &--direction-column {
    flex-direction: column;
  }

  @media (max-width: $breakpoint-xl) {
    padding: 0 $padding-s;
  }
}
