@import "../../../../styles/utils/mixins";

.theme-background {
  @include theme-container();
}

.manage-tasks {
  @media (max-width: $breakpoint-xl) {
    width: 90%;
  }

  &__tasks-container {
    height: calc(100vh - 120px);
    padding: $padding-l 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }
  }

  &__filters {
    flex-shrink: 0;
  }

  &__filters,
  &__tasks-list {
    display: flex;
    flex-direction: column;
  }

  &__tasks-list {
    padding: $padding-m;
    flex-grow: 1;
    overflow: auto;
    @media (max-width: $breakpoint-xl) {
      width: 100%;
      padding: $padding-s;
    }
  }
  &__tasks-list::-webkit-scrollbar {
    display: none;
  }

  &__title {
    margin-top: 0;
    margin-bottom: $margin-m;
  }
}
