.profile-container {
  background-color: rgb(223, 176, 22);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.user-container {
  background-color: rgb(202, 132, 2);
}

.user-container h3 {
  color: rgb(0, 184, 197);
}

.profile-container h1 {
  color: rgb(0, 135, 145);
}
