.progres_bar_background {
  position: relative;
  background-color: #3e4247;
  height: 20px;
  width: 350px;
  border-radius: 5px;
}
.progres_bar_fill {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #ffa768c5;
  border-radius: 5px;
}
.progres_bar_background p {
  position: absolute;
  right: -46px;
}

@media (max-width: 600px) {
  .progres_bar_background {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .progres_bar_background {
    width: 200px;
  }
}
