.progres_bar_background {
  display: flex;
  width: 350px;
}
.progres_bar_fill {
  height: 20px;
  width: 90%;
  background-color: #747474;
  border-radius: 5px;
}
.progres_bar_background p {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .progres_bar_background {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .progres_bar_background {
    width: 200px;
  }
}
