.textarea__field {
  resize: none;
  padding: $padding-s $padding-xl;
  width: 320px;
  font-size: $font-size-l;
  border: none;
  border-radius: $border-radius-s;
  outline: none;
  margin-bottom: $margin-xl;
  transition: background-color 0.4s;
}

.textarea__field--error {
  margin-bottom: 0;
}

.textarea__error {
  color: $error-color;
  font-size: $font-size-s;
  margin: 0 0 17px 10px;
}

@media (max-width: $breakpoint-xl) {
  .textarea__field {
    font-size: 16px;
    padding: $padding-xs $padding-m;
    margin-bottom: $margin-l;
  }
  .textarea__error {
    margin: 0 0 11px 6px;
  }
}
