.textarea_form {
  resize: none;
  background-color: #3e4247;
  padding: 12px 24px;
  width: 320px;
  font-size: 20px;
  color: #eeeee1;
  border: none;
  border-radius: 5px;
  outline: none;
  margin-bottom: 32px;
}
.error_message {
  color: #de4747;
  font-size: 12px;
  margin: 0 0 17px 10px;
}

.textarea_form .error_active {
  margin: 0;
}

@media (max-width: 800px) {
  .textarea_form {
    font-size: 16px;
    padding: 8px 18px;
    width: 280px;
    margin-bottom: 26px;
  }
  .error_message {
    margin: 0 0 11px 6px;
  }
}

@media (max-width: 400px) {
  .textarea_form {
    width: 240px;
  }
}
