.switch_btn {
  position: relative;
  box-sizing: border-box;
  height: 41px;
  width: 80px;
  background-color: #d0c2bd;
  border-radius: 25px;
  border: 2px solid #22252a;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.dark_btn {
  border-color: #fcbd90;
  background-color: #22252a;
}

.icon_background {
  position: absolute;
  transition: 0.4s;
  height: 31px;
  width: 31px;
  top: 3px;
  border-radius: 20px;
  z-index: 0;
}

.switch_btn svg {
  background-color: transparent;
  position: relative;
  z-index: 3;
}

.icon_sun {
  margin-left: 1px;
}
.icon_moon {
  margin-right: 2px;
}

.icon_background_dark {
  background-color: #fcbd90;
  left: 41px;
}
.icon_background_light {
  background-color: #22252a;
  left: 3px;
}

.switch_btn_svg {
  position: relative;
  z-index: 3;
}
