body {
  background-color: $primary-light-200;
  transition: background-color $transition-duration-slow;
  button {
    background-color: $primary-dark-200;
    color: $primary-light-100;
  }
  button:hover {
    background-color: $primary-dark-300;
  }
  .button--gray {
    background-color: $primary-dark-100;
  }
  .button--gray:hover {
    background-color: $primary-dark-200;
  }

  select,
  textarea,
  input {
    background-color: $primary-light-100;
    color: $primary-dark-300;
  }

  .theme-background {
    background-color: $primary-light-100;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: $padding-m;
    @media (max-width: $breakpoint-xs) {
      width: 100%;
    }
  }
}

.dark-mode {
  background-color: $primary-dark-400;

  button {
    background-color: $orange-color;
    color: $primary-dark-400;
  }
  button:hover {
    background-color: $light-orange-color;
  }
  .button--gray {
    background-color: $primary-dark-100;
    color: $primary-light-100;
  }
  .button--gray:hover {
    background-color: $primary-dark-200;
  }

  select,
  textarea,
  input {
    background-color: $primary-dark-300;
    color: $primary-light-100;
  }

  .theme-background {
    background-color: $primary-dark-300;
  }
}

@media (max-width: $breakpoint-xl) {
  body {
    .theme-background {
      // padding: $padding-s;
    }
  }
}
