html {
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-dark-400;
}
h2 {
  font-weight: 500;
  margin-top: $margin-xxxl;
  margin-bottom: $margin-xl;
}

a {
  color: $primary-dark-400;
  text-decoration: none;
}

p {
  color: $primary-dark-400;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
  color: $primary-light-100;
}
body.dark-mode p {
  color: $primary-light-100;
}

body.dark-mode a {
  color: $primary-light-100;
}
