.create-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  .create-task__title-container {
    display: flex;
    .create-task__title {
      margin-right: $margin-m;
      margin-top: 0px;
      margin-bottom: 0;
      @media (max-width: $breakpoint-xl) {
        margin-bottom: $margin-m;
        margin-right: 0;
      }
    }
    @media (max-width: $breakpoint-xl) {
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: $breakpoint-xl) {
    width: 70%;
  }
  @media (max-width: $breakpoint-m) {
    width: 90%;
  }
}
