.title_container {
  display: flex;
}

.title_container h1 {
  margin-right: 30px;
}

.create_task_form_container {
  display: flex;
  flex-direction: column;
}

input {
  font-family: var(--font-inter);
}

@media (max-width: 800px) {
  .create_task_page_container {
    width: 70%;
  }
  .create_task_form_container {
    width: 100%;
  }
  .title_container {
    flex-direction: column;
    align-items: center;
  }
  .title_container h1 {
    margin-right: 0;
    margin-bottom: 16px;
    font-size: 24px;
  }
}

@media (max-width: 500px) {
  .create_task_page_container {
    width: 90%;
  }
}
