.signup-container {
  background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container form input {
  margin: 10px;
}
