.experience_container {
  display: flex;
}

.tasks-experience_container {
  margin-right: 20px;
}

.importance_tasks {
  padding: 10px;
}

.category_tasks,
.importance_tasks {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .experience_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .tasks-experience_container {
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  .experience_container {
    width: 300px;
  }
  .category_tasks,
  .importance_tasks {
    flex-wrap: wrap;
  }
}
