.experience_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks_experience_container {
  margin-right: $margin-l;
}

.tasks_score_container {
  display: flex;
  justify-content: center;
}

@media (max-width: $breakpoint-xxxl) {
  .experience_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .tasks_experience_container {
    margin-right: 0px;
  }
}

@media (max-width: $breakpoint-l) {
  .experience_container {
    width: 300px;
  }
  .category_tasks,
  .importance_tasks {
    flex-wrap: wrap;
  }
}
