.task {
  padding: 10px 10px 44px 10px;
  border-radius: 5px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 500px;
}

.health {
  background-color: #fe56aaab;
}
.work {
  background-color: #6c87ffb0;
}
.study {
  background-color: #0db985ab;
}
.other {
  background-color: #ffa768c5;
}

.edit_mode {
  border: 2px solid #22252a;
}
.edit_mode_dark {
  border: 2px solid #eeeee1;
}

.remove_background {
  background: none;
  outline: none;
  border: none;
}

.task input {
  font-size: 18px;
  padding-bottom: 16px;
}

.task textarea {
  resize: none;
  max-height: 250px;
  transition: 0.4s;
}

.task textarea::-webkit-scrollbar {
  display: none;
}

.task_icons_container {
  position: absolute;
  bottom: 7px;
  right: 10px;
  display: flex;
}

.task_icons_container svg {
  cursor: pointer;
  transition: 0.4s;
}

.task_icons_container svg:hover {
  fill: #eeeee1;
}

.show_description {
  transform: rotate(180deg);
}

.edit {
  fill: #eeeee1;
}

.task_icons_container_dark svg:hover {
  fill: #22252a;
}
.task_icons_container_dark .edit {
  fill: #22252a;
}

.task_importance {
  position: absolute;
  top: 7px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #22252a;
  border-radius: 20px;
}

.task_importance_dark {
  border-color: #eeeee1;
  color: #eeeee1;
}

@media (max-width: 800px) {
  .task {
    min-width: none;
  }
}
