@import "../../../styles/utils/mixins";

.theme-background {
  @include theme-container();
  padding: $padding-m;
  @media (max-width: $breakpoint-xl) {
    padding: $padding-s;
  }
}

.manage-tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .manage-task__tasks-container {
    .manage-tasks__filters,
    .manage-task__tasks-list {
      display: flex;
      flex-direction: column;
    }
    .manage-task__tasks-list {
      @media (max-width: $breakpoint-xl) {
        width: 100%;
      }
    }
    .manage-tasks__filters {
      .manage_tasks_title {
        margin-top: 0;
        margin-bottom: $margin-m;
      }
    }
    @media (max-width: $breakpoint-xl) {
      width: 100%;
    }
  }
  @media (max-width: $breakpoint-xl) {
    width: 90%;
  }
}
