@import "../../styles/utils/mixins";

.theme-background {
  @include theme-container();
}

.task-score {
  padding: $padding-xs;
  margin: $margin-xs;
  border-radius: $border-radius-s;
  .task-score__title {
    text-align: center;
    @media (max-width: $breakpoint-xl) {
      font-size: $font-size-m;
    }
  }

  .task-score__score {
    text-align: center;
    font-size: $font-size-xxl;
    @media (max-width: $breakpoint-xl) {
      font-size: $font-size-m;
    }
  }

  .task-score__title--health {
    color: $pink-color;
  }
  .task-score__title--work {
    color: $blue-color;
  }
  .task-score__title--study {
    color: $green-color;
  }
  .task-score__title--other {
    color: $orange-color;
  }
  @media (max-width: $breakpoint-xl) {
    width: 130px;
    margin: $margin-xxs;
    padding: $padding-xxs;
  }
}
