.task_score_container {
  padding: 10px;
  background-color: #3e4247;
  margin: 8px;
  border-radius: 5px;
}

.task_score_container h4,
p {
  text-align: center;
}

.task_score_container p {
  font-size: 32px;
}

.task_score_container .healt {
  color: #fe56aaab;
}
.task_score_container .work {
  color: #6c87ffb0;
}
.task_score_container .study {
  color: #0db985ab;
}
.task_score_container .other {
  color: #ffa768c5;
}
